RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
# RewriteRule ^index.php/(.+) /$1 [R=301,L]
#  RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
#RewriteRule ^/?(.*) http://%1/$1 [L,R=301]
