.site__content {
    padding-top: 93px;
}

.header {
    padding: 15px 2.6%;
    background-color: var(--main-color);
    transition: background-color .6s ease .4s, padding .6s;
}


.site__content {
    display: flex;
    flex-direction: column;
}

.error-404 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-title {
    font-size: 400%;
    margin: 0;
}


.error-404 p {
    margin: 10px 0 30px 0;
}

a.button_return {
    max-width: 250px;
}

a.button_return:hover {
    background-color: var(--main-color);
}
