.site__content {
    padding-top: 93px;
}

.header {
    padding: 15px 2.6%;
    background-color: var(--main-color);
    transition: background-color .6s ease .4s, padding .6s;
}


.contacts {
    position: relative;
}

.contacts__banner {
    height: calc(100vh - 92.63px);
    background-image: url('../images/contacts/banner.jpg');
    background-position: center;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__title {
    padding: 5.93% 0 0 0;
    text-align: center;
    font-size: 32px;
    margin: 0;
}

.contacts__links {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.contacts__link {
    display: flex;
    align-items: center;
}

.contacts__link svg {
    fill: #ffffff;
    height: 50px;
    width: auto;
}

.contacts__links .contacts__link+.contacts__link {
    margin-top: 37px;
}

.info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 71.71%;
    height: 38.08%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.info__item {
    width: calc(41.53% - (4.35% * 2));
    height: 100%;
    padding: 0 4.35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.81);
    background-repeat: no-repeat;
    background-position: right top;
}

.info__item_address {
    background-image: url('../images/contacts/pin_map.png');
    background-size: 43.53% 76.16%;
    background-position: 120% -40%;
}

.info__item p+p {
    margin-top: 8px;
}

.info__title {
    font-weight: 400;
    font-size: 18px;
}

.info__value {
    font-size: 22px;
    max-width: 80%;
}

.info__item_phone {
    background-image: url('../images/contacts/phone.png');
    background-size: 30.59% 53.49%;
    background-position: 108% -20%;
}


.google-map {
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 36.45vw;
}



@media all and (max-width: 1700px) {
    .info__value {
        font-size: 18px;
    }

    .info__item {
        max-height: 220px;
        max-width: calc(420px - 4.35% * 2);
    }

    .contacts__link svg {
        fill: #ffffff;
        height: 32px;
    }

    .contacts__links .contacts__link+.contacts__link {
        margin-top: 20px;
    }

}

@media all and (max-width: 1024px) {
    .contacts__banner {
        height: 453px;
    }

    .info__title {
        font-size: 16px;
    }

    .info {
        width: 76.26%;
        height: 39.738%;
    }

    .contacts__link svg {
        height: 26px;
    }
}


@media all and (max-width: 768px) {
    .contacts__banner {
        height: 340px;
    }

    .contacts__title {
        font-size: 24px;
    }

    .info {
        width: 81.64%;
        height: 47.64%;
    }

    .contacts__link svg {
        height: 20px;
    }

    .info__value {
        font-size: 16px;
    }
}

@media all and (max-width: 568px) {
    .contacts__banner {
        height: 142px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contacts__title {
        font-size: 22px;
        padding: 0;
        margin-bottom: 8px;
    }

    .contacts__links {
        position: static;
        left: unset;
        top: unset;
        transform: unset;
        display: flex;
        align-items: center;
    }

    .contacts__link {
        display: block;
        margin: 0 10px;
    }

    .contacts__links .contacts__link+.contacts__link {
        margin-top: unset;
    }

    .info {
        width: 100%;
        height: auto;
        position: static;
        left: unset;
        top: unset;
        transform: translate(0, 0);
        display: flex;
        flex-wrap: wrap;
    }

    .info__item {
        max-height: unset;
        width: calc(90% - 40px);
        margin: 0 auto;
        max-width: 100%;
        min-height: 100px;
        margin-bottom: 15px;
    }

    .info__item+.info__item {
        border-top: 1px solid #000000;
        padding-top: 15px;
        margin-bottom: 30px;
    }

    .info__item_address,
    .info__item_phone {
        background-size: 54px 54px;
        background-position: 90% center;
    }


}
