:root {
    --main-color: #52575D;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: color .2s, background .2s;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    transition: color .4s, background .4s;
}

body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    min-width: 320px;
}

html,
body {
    scroll-behavior: smooth;
}

body.no-scroll {
    overflow: hidden;
}

p {
    margin: 0;
}


.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site__content {
    flex-grow: 1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 5.2%);
    padding: 50px 2.6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    background-color: transparent;
    transition: background-color .4s ease .2s, padding .4s;
}

.header.active-bg {
    padding: 0 2.6%;
    background-color: var(--main-color);
    transition: background-color .6s ease .4s, padding .6s;
}

.header__logo{
    margin: 0 auto 0 0;
}

.header__content {
    color: #ffffff;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 30px
}

.logo img {
    max-height: 70px;
}

.burger {
    width: 24px;
    height: 17px;
    cursor: pointer;
}

.burger__content {
    position: relative;
    height: 100%;
}

.burger__line {
    content: '';
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: #ffffff;
    transition: transform .4s ease;
}


.burger__content .burger__line::after {
    content: '';
    position: absolute;
    top: -14px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: inherit;
    transition: top .4s ease .4s;
}

.burger__content .burger__line::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: inherit;
    transform: rotate(0deg);
    transition: top .4s ease .4s, transform .4s ease;
}


.burger.active .burger__line::after {
    top: 0;
    transition: top .4s;
}

.burger.active .burger__line::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top .4s ease .10s, transform .4s ease .5s;
}

.burger.active .burger__line {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition: transform .4s ease .5s;
}

.header__phone {
    /*flex-grow: 1;*/
    margin-right: 3.5%;
    fill: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__phone svg {
    margin-right: 10px;
}



.lang {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 11px 20px;
    background-color: var(--main-color);
}


.lang__link {
    position: relative;
}

.lang__link+.lang__link {
    margin-left: 10px;
}

.lang__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
}

.lang__link:hover::after,
.lang__link:focus::after{
    background-color: #ffffff;
}

.lang__link.active::after{
    background-color: #ffffff;
}




.mobile-menu {
    position: fixed;
    left: -500px;
    top: 0;
    height: 100%;
    max-height: calc(100vh - 68px - 60px);
    max-width: 400px;
    width: 100%;
    color: rgb(36 36 36);
    padding: 68px 0 60px 0;
    background-color: rgb(255 255 255);
    transition: left 0.8s ease;
    overflow-y: auto;
}


.mobile-menu.active {
    left: 0;
    transition: left .8s ease;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    transition: background-color .8s;
    z-index: -100;
}

body.no-scroll::before {
    z-index: 4;
    background-color: rgb(82, 87, 93, .8);
    transition: background-color .8s;
}



.mobile-menu::-webkit-scrollbar {
    width: 5px;
    background: var(--main-color);
}

.mobile-menu::-webkit-scrollbar-thumb {
    background: rgb(36 36 36);
}






.mobile-menu__close .burger__line {
    background-color: var(--main-color);
}

.mobile-menu__close {
    margin-left: 12.25%;
}


.mobile-menu__items {
    margin: 41px 0 0 0;
    font-size: 35px;
    line-height: 43px;
    color: #242424;
}

.mobile-menu__item {
    display: flex;
    padding: 0 7.25% 10px 12.25%;
    flex-wrap: wrap;
}

.mobile-menu__sub-menu {
    /* display: none; */
    max-height: 0px;
    overflow: hidden;
    transition: max-height .6s;
    font-size: 70%;
    width: 100%;
}

.mobile-menu__sub-menu.active {
    max-height: 1000px;
    transition: max-height 1s;
}

.open-sub-menu {
    margin-left: 7.5%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mobile-menu__item a {
    padding: 9px 0;
    flex-grow: 1;
    max-width: calc(100% - 7.5% - 14px);
}

.mobile-menu__item+.mobile-menu__item {
    margin-top: 5px;
}

.mobile-menu__item svg {
    fill: var(--main-color);
    width: auto;
    height: 14px;
    transform: rotate(00deg);
    transition: transform .4s;
}

.mobile-menu__item.active>.open-sub-menu svg {
    transform: rotate(90deg);
    transition: transform .4s;
}

.mobile-menu__item:hover>a {
    color: #646B73;
}

.mobile-menu__item:hover svg {
    fill: #242424;
}


.mobile-menu__item.active:hover>a {
    color: inherit;
}

.mobile-menu__item.active:hover {
    background-color: #ffffff;
}

.mobile-menu__item.active:hover svg {
    fill: var(--main-color);
}



.mobile-menu__contacts {
    border-top: 5px solid var(--main-color);
    max-width: 75%;
    padding-top: 50px;
    margin: 50px auto 0 auto;
}

.mobile-menu__contact {
    color: #242424;
}

.mobile-menu__contact svg path {
    fill: var(--main-color);
}


.mobile-menu__contact+.mobile-menu__contact {
    margin-top: 5px;
}

.mobile-menu__contact+.mobile-menu__contact svg path {
    fill: #ffffff;
}

.mobile-menu__contacts>a {
    color: var(--main-color);
    margin-top: 30px;
    text-decoration: underline;
    display: block;
}

.title {
    font-size: 64px;
    font-weight: 700;
    color: #242424;
    margin: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 168px;
    width: 100%;
    padding: 16px 0;
    background-color: #242424;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
}

.button_center {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.button__title {
    color: #ffffff;
}

.button:hover {
    background-color: transparent;
    color: #242424;
    border-color: #242424;
}

.button:hover .button__title {
    color: inherit;
}

button {
    outline: none;
    border: none;
    transition: color .4s, background .4s;
}

button:hover {
    transition: color .6s, background .6s;
}


.footer {
    background-color: var(--main-color);
    padding: 50px 60px 5px 60px;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
}



.footer a:hover {
    text-decoration: underline;
}

.footer__button-up {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;
    z-index: 20;
}


.footer__button-up svg {
    width: 13px;
    height: auto;
    fill: #52575D;
}

.footer__button-up:hover {
    background-color: var(--main-color);
}

.footer__button-up:hover svg {
    fill: #ffffff;
}

.footer__content {
    margin: 0 auto;
    max-width: 1160px;
}

.footer__content {
    color: white;
}

.footer__content_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid#4A4A4A;
    text-transform: uppercase;
}

.footer__menu {
    width: 38.01%;
}

.footer__menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.footer__logo {
    flex-grow: 1;
    text-align: center;
}

.footer__content_bottom {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__content_bottom .footer__logo {
    display: none;
}

.footer__contacts {
    width: 270px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 28px;
}

.footer__content_bottom .contacts ul {
    justify-content: flex-start;
}

.footer__content_bottom.contacts ul li {
    margin-right: 6.474%;
}

.footer__copyright {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    line-height: 15px;
    padding-bottom: 28px;
}

.spekter {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    padding-top: 28px;
}

.spekter__title {
    margin-right: 8px;
}


.popup-form-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(160 160 160 / 20%);
    z-index: 35;
}

.popup-form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 20px;
    width: 100%;
    max-width: calc(400px - 40px);
    z-index: 11;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.popup-form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-form__title {
    font-size: 20px;
    color: var(--main-color);
}

.popup-form-top .close-form {
    display: flex;
    cursor: pointer;
}

.popup-form-top .close-form:hover svg path {
    fill: var(--main-color);
}

.popup-form-body {
    margin-top: 30px;
}




.success {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    padding: 0px 20px 20px 20px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1px;
    border: 2px solid #8A8A8A;
    width: 100%;
    max-width: 250px;
    text-align: center;
    z-index: 100;
}

.success h4 {
    background-color: var(--main-color);
    color: #FFFFFF;
    padding: 17px 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
    width: 100%;
    border: 1px solid #E6E6E6;
    background-color: #FFFFFF;
    color: #8A8A8A;
    padding: 10px 15px;
    box-shadow: 0 0px 2px 0px rgba(0, 0, 0, .2);
    font-family: 'Roboto Condensed', sans-serif;
}


@media all and (max-width: 1700px) {


    .mobile-menu__item {
        justify-content: center;
        padding: 0 7.25% 0 7.25%;
    }

    .mobile-menu__item a {
        flex-grow: unset;
    }

    .open-sub-menu {
        margin-left: 23px;
    }

    .footer__button-up {
        bottom: 50px;
    }

    .mobile-menu__items{
        font-size: 28px;
    }

    .mobile-menu__item {
        line-height: 2;
        text-align: center;
    }

}

@media all and (max-width: 1024px) {

    .mobile-menu {
        max-width: 100%;
        left: -100vw;
    }

    .site__content {
        padding-top: 75px !important;
    }

    .header {
        padding: 30px 2.6%;
    }

    .burger {
        width: 26px;
    }

    .header__logo img {
        max-height: 55px;
    }

    .header__phone svg {
        height: 21px;
        width: auto;
    }

    .form_consultation .button {
        padding: 8px 0;
    }

    .footer__button-up {
        width: 48px;
        height: 48px;
    }

    .footer__button-up svg {
        width: 16px;
    }

    .footer__logo img {
        max-height: 48px;
    }

    .footer__copyright {
        font-size: 12px;
    }

    .footer {
        padding: 70px 60px 30px 60px;
    }

    .spekter {
        order: 3;
        width: 100%;
        justify-content: center;
        margin-top: 16px;
    }

}

@media all and (max-width: 768px) {
    .header__content .header__phone:nth-child(2){
        display: none;
    }
    .header {
        padding: 20px 2.6%;
    }

    .button {
        max-width: 133px;
        padding: 11px 0;
        font-size: 14px;
    }

    .footer__button-up {
        width: 36px;
        height: 36px;
    }

    .footer__button-up svg {
        width: 12px;
    }

    .footer__content_top .footer__logo {
        display: none;
    }

    .footer {
        width: 100%;
        padding: 40px 30px 30px 30px;

    }

    .footer__content_top {
        padding-bottom: 20px;
    }

    .footer__content_bottom {
        padding-top: 20px;
    }

    .footer__menu {
        width: 50%;
    }

    .footer__menu ul {
        justify-content: space-around;
    }

    .footer__content_bottom .footer__logo {
        display: block;
    }

    .footer__content_bottom {
        align-items: center;
    }

    .footer__contacts {
        width: 266px;
    }

    .footer__logo img {
        max-height: 36px;
    }


}


@media all and (max-width: 568px) {

    .site__content {
        padding-top: 90px !important;
    }

    .header {
        padding: 20px !important;
        width: calc(100% - 40px);
    }

    .header.active-bg {
        padding: 10px 20px !important;
    }

    .header__content {
        padding: unset;
    }

    .header__logo img {
        max-height: 55px;
    }

    .header>.burger {
        order: 2;
    }

    .lang {
        /*display: none;*/
    }

    .mobile-menu__items {
        font-size: 22px;
    }

    .mobile-menu {
        max-height: calc(100vh - (30px * 2));
        padding: 30px 0;
    }

    .mobile-menu__items {
        margin: 20px 0 0 0;
    }

    .mobile-menu__contacts {
        padding-top: 25px;
        max-width: calc(100% - 50px);
        margin: 30px auto 0 auto;
        border-width: 2px;
        text-align: center;
    }

    .mobile-menu__item a {
        max-width: calc(100% - 7.5% - 23px);
        text-align: center;
        padding: 8px 0;
    }


    .mobile-menu__item svg {
        height: 19px;
    }

    .footer__menu_left li:first-child,
    .footer__menu_right li:last-child {
        display: none;
    }

    .footer__content_bottom {
        position: relative;
        padding-top: 25px;
    }

    .footer__contacts {
        width: 100%;
    }

    .footer__contacts ul {
        justify-content: space-between;
    }

    .footer__logo {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
    }

    .footer__copyright {
        justify-content: center;
        width: 100%;
        margin-top: 30px;
    }
}

@media all and (max-width: 360px) {
    .header__phone span {
        display: none;
    }

    .footer__menu {
        font-size: 12px;
    }

    .footer__copyright {
        font-size: 10px;
    }

    .footer {
        padding: 30px 20px 20px 20px;
    }

    .footer__button-up {
        width: 30px;
        height: 30px;
    }
}
