.prices {
    margin: 24px 0;
}

.pdf {
    display: flex;
    align-items: center;
}

.pdf+.pdf {
    margin-top: 16px;
}

.pdf__image svg {
    height: 40px;
    width: auto;
}

.pdf__title {
    margin-left: 10px;
    font-size: 20px;
}

.pdf:hover {
    text-decoration: underline;
}

.price {
    width: 67%;
    margin: 0 auto;
}

#tabs {
    display: flex;
    border: 1px solid #000000;
    overflow: hidden;
}

.tabs-first {
    margin-right: 25px;
}

.tabs-second  {
    overflow: -moz-scrollbars-vertical!important;
    flex-grow: 1;
}

.price-table-service {
    display: flex;
    flex-direction: column;
    list-style: none;

}

.price-table-main-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 148.9%;
    border: 1px solid #000000;
    border-left: none;
    border-top: none;
    padding: 25px 23px;
    margin: 0;
    background-color: #52575D;
    color: #FFFFFF;
    white-space: nowrap;
}

.price-table {
    border-collapse: collapse;
    padding-right: 25px;
    display: none;
    width: calc(100% - 25px);
}

.price-table.active{
    display: table;
}

.price-header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid #000000;
}

.price-table-second-header {
    font-weight: 600;
    font-size: 18px;
    line-height: 137.9%;
    text-align: left;
    padding-left: 43px;
    color: #000000;
    padding-right: 53px;
}

.price-table-third-header {
    font-weight: 600;
    font-size: 18px;
    line-height: 137.9%;
    text-align: center;
    color: #000000;
    padding-right: 53px;
}

.price-table-forth-header {
    font-weight: 600;
    font-size: 18px;
    line-height: 137.9%;
    text-align: right;
    color: #000000;
    padding-right: 53px;

}
.price-table-first {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 148.9%;
    padding: 20px;
    color: #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

li:last-child .price-table-first {
    border-bottom: none;
}

.price-table-second {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 148.9%;
    padding: 11px 43px;
    color: #52575D;
}
.price-table-third {
    font-weight: bold;
    font-size: 18px;
    line-height: 137.9%;
    text-align: center;
    padding: 20px;
    color: #000000;
}

.price-table-forth {
    font-size: 18px;
    line-height: 137.9%;
    text-align: center;
    color: #000000;
}

.price-table_border::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -43%;
    width: 140%;
    height: 1px;
    background-color: #D3D3D3;
}

.tab.active{
    background: rgba(82, 87, 93, 0.8);
}



@media all and (max-width: 1820px) {
    #tabs {
        width: 90%;
    }
}

@media all and (max-width: 1700px) {
    .price {
        width: 90%;
    }

    #tabs {
        width: 100%;
    }

    .tabs-first {
        margin-right: 5px;
    }
}

@media all and (max-width: 1024px) {
    price {
        width: 95%;
    }

    #tabs {
        width: 100%;
    }

    .price-table {
        padding-right: 5px;
    }

    .price-table th,
    .price-table td {
        font-size: 12px;
        line-height: 12px;
    }


    .price-header {
        padding: 40px 0;
    }

    .price-table-third {
        padding: 5px;
    }
}
@media all and (max-width: 768px) {

    #tabs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border: 1px solid #000000;
        overflow-x: hidden;
        position: relative;
    }

    .tabs-first {
        width: 95%;
        margin: 0 auto;

    }


    .price-table-main-header {
        border-right: none;
    }


    .price-table-first {
        border-right: none;
        position: relative;
    }

    .price-table-first::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        top: 5px;
        right: 1px;
        background: url("../images/icons/next 4.svg") no-repeat center;
    }

    .price-table-service li a:active,
    .price-table-service li a:active {
        display: none;
    }

    .price-table-first:active,
    .price-table-first:focus {
        background: rgba(82, 87, 93, 0.8);
        outline: none;
        color: #FFFFFF;
        padding-left: 50px;
    }

    .price-table-first:active::before,
    .price-table-first:focus::before {
        transform: rotate( 180deg );
        right: auto;
        left: 5px;

        background: url("../images/icons/nextactive.svg") no-repeat center;
    }

    .price-table-second {
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 148.9%;
        padding: 11px 43px;
        color: #52575D;
    }
    .price-table-third {
        font-weight: bold;
        font-size: 18px;
        line-height: 137.9%;
        text-align: center;
        padding: 20px;
        color: #000000;
    }

    .price-table-forth {
        font-size: 18px;
        line-height: 137.9%;
        text-align: center;
        color: #000000;
    }

    .price-table_border::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: -43%;
        width: 140%;
        height: 1px;
        background-color: #D3D3D3;
    }
/*Скрипт отмены?????*/



    .tab.hide{
        display: none;
    }
    .tab.hide.active{
        display: block;
    }

    .tabs-second{
        width: 100%;
    }


    .price-table {
        padding-right: 5px;
        width: 95%;
        margin: 0 auto;
    }


}
