.site__content {
    padding-top: 93px;
}

.header {
    padding: 15px 2.6%;
    background-color: var(--main-color);
    transition: background-color .6s ease .4s, padding .6s;
}


.page {
    width: 95%;
    padding: 0 2.5%;
    margin: 3.75% auto 8.33% auto;
    max-width: 1520px;
}

.page__title {
    margin: 0 0 35px 0;
    font-size: 42px;
    text-align: center;
}

.page__description {
    font-size: 22px;
    max-width: 1224px;
    margin: 0 auto;
}

.projects {
    margin: 6.57% auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project {
    width: calc(50% - 11px);
    margin-bottom: 35px;
    order: 1;
    color: #ffffff;
}

.project__image {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.project__image img{
    width: 100%;
}

.project__image::before {
    content: '';
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color .6s;
}

.project:hover .project__image::before {
    background-color: transparent;
    transition: background-color .6s;
}


.project__title {
    width: calc(90.68% - 70px);
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    padding: 7px 35px;
    transition: background-color 0.6s ease 0s;
}


.project__header-title {
    position: relative;
    font-weight: bold;
    font-size: 64px;
    line-height: 65px;
    padding-left: 10%;
    color: #242424;
}

.project__header-title::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -24%;
    width: 100%;
    height: 3px;
    background-color: #52575D;
}

.project__title_text {
    padding: 7px 24px 7px 0;
    border-right: 1px solid #FFFFFF;
}

.project:hover .project__title {
    background-color: var(--main-color);
    transition: background-color .6s;
}


.projects__bottom {
    width: 100%;
    order: 2;
}


.projects__show-more {
    margin: 23px auto 13px auto;

}

.button_show-more {
    width: 100%;
    max-width: 283px;
    display: block;
    margin: 13px auto;
    padding: 7px 0;
    border: 1px solid #000000;
    border-radius: 27px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    outline: none;
    background-color: transparent;
    transition: all .6s;

}

.button_show-more:hover {
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: #ffffff;
    transition: all .6s;
}

.projects__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
}

.pagination a,
.pagination span {
    position: relative;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 100%;
    font-size: 18px;
    font-weight: 600;
    transition: background-color .6s;
}

.pagination a:hover,
.pagination span:hover {
    border-color: var(--main-color);
    color: #ffffff;
    background-color: var(--main-color);
    transition: all .6s;
}

.pagination .page-item.active a,
.pagination .page-item.active span {
    background-color: #000000;
    color: #ffffff;
}

.pagination li {
    margin: 0 3.5px;
}

.page__body p {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

.page__body p+p {
    margin-top: 16px;
}


@media all and (max-width: 1700px) {
    .project__header-title {
        font-size: 48px;
    }
}

@media all and (max-width: 1024px) {
    .page__title {
        font-size: 36px;
    }

    .page__description {
        font-size: 16px;
        max-width: 840px;
    }

    .projects {
        max-width: 840px;
    }

    .project__title {
        font-size: 16px;
        width: calc(90.68% - (25px * 2));
        padding: 7px 25px;
    }

    .project__title_text {
        padding: 5px 25px 5px 0;
    }


}


@media all and (max-width: 768px) {
    .page__title {
        font-size: 24px;
    }

    .page__description {
        max-width: 628px;
    }

    .projects {
        max-width: 628px;
    }

    .project__title {
        width: calc(90.68% - (18px * 2));
        padding: 5px 18px;
    }

    .project__title_text {
        padding: 3px 18px 3px 0;
    }

    .button_show-more {
        font-size: 16px;
        max-width: 226px;
    }

    .pagination a {
        font-size: 16px;
        width: 32px;
        height: 32px;
    }

    .page__body h1,
    .page__body h2 {
        font-size: 22px;
    }


}



@media all and (max-width: 568px) {
    .page {
        padding: 0 20px;
    }

    .page__title {
        margin: 0 0 19px 0;
        font-size: 20px;
    }

    .page__body h1,
    .page__body h2 {
        font-size: 20px;
    }

    .project {
        width: 100%;
        margin-bottom: 19px;
    }

    .button_show-more {
        font-size: 14px;
        max-width: 184px;
    }

    .pagination a {
        font-size: 13px;
        width: 26px;
        height: 26px;
    }
}
